version: "3"
services:
  quorum-{{ ident }}:
    image: {{ quorum.image }}
    container_name: quorum-{{ ident }}
    hostname: quorum-{{ ident }}
    restart: always
    # network_mode: host
    ports:
      - {{ quorum.ports.listen }}:{{ quorum.ports.listen }}
      - {{ quorum.ports.raft }}:{{ quorum.ports.raft }}
      - {{ quorum.ports.rpc }}:{{ quorum.ports.rpc }}
    environment:
{% for i in quorum.env %}
      - {{ i }}
{% endfor %}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /opt/quorum-{{ ident }}/data:/root/quorumchain
    entrypoint:
      - /bin/sh
      - -c
      - |
        geth --datadir /root/quorumchain init /root/quorumchain/genesis.json
        geth \
          --datadir /root/quorumchain \
{% if quorum.consensus == "raft" %}
          --raft \
          --raftport {{ quorum.ports.raft }} \
{% elif quorum.consensus == "istanbul" %}
          --istanbul.blockperiod 5 \
          --syncmode full \
          --mine \
          --minerthreads 1 \
{% endif %}
          --nodiscover \
          --verbosity {{ quorum.verbosity }} \
          --networkid {{ genesis.chainID }} \
          --rpc \
          --rpcaddr 0.0.0.0 \
          --rpcport {{ quorum.ports.rpc }} \
          --rpcapi admin,db,eth,debug,miner,net,shh,txpool,personal,web3,quorum,{{ quorum.consensus }} \
          --emitcheckpoints \
          --port {{ quorum.ports.listen }}

