{
    "config": {
        "chainId": {{ genesis.chainID | int }},
        "eip150Block": 1,
        "eip150Hash": "0x0000000000000000000000000000000000000000000000000000000000000000",
        "eip155Block": 1,
        "eip158Block": 1,
        "byzantiumBlock": 1,
        "istanbul": {
            "epoch": 30000,
            "policy": 0
        },
        "isQuorum": true
    },
    "nonce": "0x0",
    "timestamp": "0x5cffc201",
    "extraData": "{{ extraData }}",
    "gasLimit": "{{ genesis.gasLimit }}",
    "difficulty": "{{ genesis.difficulty }}",
    "mixHash": "0x63746963616c2062797a616e74696e65206661756c7420746f6c6572616e6365",
    "coinbase": "0x0000000000000000000000000000000000000000",
    "alloc": {
{% for item in play_hosts %}
        "{{ hostvars[item].public_address }}": {
            "balance": "{{ genesis.alloc.balance }}"
        }{% if not loop.last %},{% endif %}

{% endfor %}
    },
    "number": "0x0",
    "gasUsed": "0x0",
    "parentHash": "0x0000000000000000000000000000000000000000000000000000000000000000"
}
