### Raft

{
        "alloc": {
{% for item in genesis.alloc %}
                "{{ item["id"] }}": {
                        "balance": "{{ item["balance"] }}"
                }{% if not loop.last %},{% endif %}

{% endfor %}
        },
        "coinbase": "0x0000000000000000000000000000000000000000",
        "config": {
                "homesteadBlock": 0,
                "byzantiumBlock": 0,
                "constantinopleBlock": 0,
                "petersburgBlock": 0,
                "istanbulBlock": 0,
                "chainId": {{ genesis.chainID | int }},
                "eip150Block": 0,
                "eip155Block": 0,
                "eip150Hash": "0x0000000000000000000000000000000000000000000000000000000000000000",
                "eip158Block": 0,
                "maxCodeSizeConfig": [
                        {
                                "block": 0,
                                "size": 35
                        }
                ],
                "isQuorum": true
        },
        "difficulty": "{{ genesis.difficulty }}",
        "extraData": "0x0000000000000000000000000000000000000000000000000000000000000000",
        "gasLimit": "{{ genesis.gasLimit }}",
        "mixhash": "0x0000000000000000000000000000000000000000000000000000000000000000",
        "nonce": "0x0",
        "parentHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
        "timestamp": "0x00"
}
